*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background-color: #e70000;
    height: 100vh;
}
p{
    color: white;
    word-spacing: 4px;
}

/* upper side */

/* .upper{
    padding-top: 65px;
}
.upper-left{
    padding: 20px;
    margin: 0 170px;
}
img{
    height: 200px;
    width: 200px;
}
.upper_p{
    font-size: 40px;
    margin-bottom: 24px;
}
.upper-left,.image{
    float: left;
    height: 379px;
    font-size: 15px;
} */

.upper{
    padding: 92px;
    display: flow-root;
}
.upper-left{
    float: left;
    width: 500px;
    padding: 48px;
    margin-right: 400px;
}
.upper_p{
    font-size: 40px;
}
.image{
    float: left;
}

/* lower side */

.lower{
    
    display: flow-root;
}
.side{
    float: left;
    background-color: #571212;
    font-size: 15px;
    height: 364px;
    padding: 45px;
    width: calc((100% - 20px) / 3);
}
.side:nth-child(-n+2){
    margin-right: 10px;
}
.p_head{
    margin-bottom: 37px;
    font-size: 24px;
}