*{
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
}
header{
    
    height: 19%;
    background-color: #ff4da6;
    margin-bottom: 15px;
}
main{
    
    font-size: 0;
}
.side{
    height: 413px;
    display: inline-block;
}
#side1{
    
   
    background-color: #ff037e;
    font-size: 25px;
    width: 70%;
    margin-right: 15px;
}
#side2{
    
    background-color: #ce0468;
    font-size: 25px;
    width: calc(30% - 15px);
}
footer{
    
    margin-top: 15px;
    height: 22%;
    background-color: #802755;
}
