*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body{
    
    background-color: #b8b6b6;
}

.container{
    display: inline-block;
    text-align: center;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
p{
    color: white;
}
.status{
    border-radius: 20px 20px 0 0;
    padding: 20px;
    background-color: #42515a;
}
img{
    height: 150px;
    width: 150px;
    /* overflow: none; */
    border: 8px solid #c74385;
    border-radius: 50%;
    position: relative;
    bottom: 80px;
}
.name{
    font-size: 25px;
}
.about{
    margin-bottom: 40px;
    margin-top: -37px;
}
.name{
    color: #c74385;
}
.email{
    margin: 10px 0;
}
.social{
    margin-bottom: 10px;
    word-spacing: 14px;
    font-size: 25px;
    
    
}

.social i{
    border-radius: 50%;
    padding: 8px;
    background-color: #c74385;
    color: white;
}


.follower{
    background-color: #c74385;
    padding: 20PX 40PX 20PX 40PX;
    color: white;
    border-radius: 0 0 20px 20px;
}
