*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
}
body{
    background-color: #e70000;
    height: 100vh;
}
p{
    color: white;
    letter-spacing: 4px;
}

/* upper side */

.upper{
    height: 50%;
    font-size: 0;
    padding-top: 65px;
}
.upper-left{
    padding: 20px;
    margin: 0 170px;
}
img{
    height: 200px;
    width: 200px;
}
.upper_p{
    font-size: 40px;
    margin-bottom: 24px;
}
.upper-left,.image{
    display: inline-block;
    font-size: 15px;
}



/* lower side */

.lower{
    height: 50%;
    font-size: 0;
    
}
.side{
    display: inline-block;
    background-color: #571212;
    font-size: 15px;
    height: 100%;
    padding: 45px;
    width: calc((100% - 12px) / 3);
}
.side:nth-child(-n+2){
    margin-right: 6px;
}
.p_head{
    margin-bottom: 37px;
    font-size: 24px;
}