
/* RESET CSS */
@font-face {
    font-family: roboto;
    src: url(./Roboto/Roboto-Light.ttf);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   
}
html,body{
    font-family: Roboto,sans-serif;
    font-size: 16px;
}
p{
    color: white;
}
a,li{
    text-decoration: none;
    cursor: pointer;
}
.primary-button{
    padding: 18px 35px;
    border-radius: 26px;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
    font-size: 16px;
    margin: 10px 10px;
    cursor: pointer;
}
.primary-button:hover{
    background-color: #d0a904;
    border-color: #d0a904;
}
.wrapper-content{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

/* header for navigation started */
/* .header{
    display: flex;
    justify-content: center;
} */
.flex-all{
   
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    flex-wrap: wrap;
}

.header-ul{
    display: flex;
    flex-wrap: wrap;
    /* gap: 28px; */
    /* justify-content: space-between; */
    align-items: center;
    list-style: none;
    
}
.img-container{
    max-width: 133px;
}
.img-container img{
    width: 100%;
    height: auto;
}
.header-ul li{
    padding: 15px;
    /* transition: color 0.3s ease-in-out; */
}
.header-ul li:nth-child(-n+6):hover{
    background-color: black;
    color: whitesmoke;
}



/* .main-1{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(28, 71, 150, 0.538),rgba(31, 43, 134, 0.473)),url(./IMAGES/img-1.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
}
.bridge1{
    
    width: 1600px;
    
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.main1-branch{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}
.main1-branch h1{
    font-size: 50px;
    color: white;
}
.main1-branch p{
    font-size: 20px;
    color: white;
}
.button-main1 button{
    padding: 18px 45px;
    border-radius: 26px 26px 26px 26px;
} */



.main-1{
    display: flex;
    justify-content: center;
    background-image: linear-gradient(rgba(28, 71, 150, 0.682),rgba(22, 37, 149, 0.632)),url(./IMAGES/img-1.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* min-height: 500px; */
    height: 100vh;
}

.bridge1{
    /* max-width: 1600px;
    width: 100%; */
    /* height: 800px; */
    
    /* position: relative; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.main1-branch{
    /* position: absolute; */
    /* border: 1px solid black; */
    /* top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); */
    padding: 8px;
    text-align: center;
}

.main1-branch h1{
    font-size: 50px;
    color: white;
    word-spacing: 10px;
    font-weight: lighter;
}
.main1-branch p{
    font-size: 20px;
    color: white;
    margin: 27px 0;
}
/* .button-main1 button{
    padding: 18px 45px;
    border-radius: 26px 26px 26px 26px;
    border: 1px solid whitesmoke;
    background: transparent;
    color: white;
}
.button-main1 button:hover{
    background: #d0a904;
} */




/* .main-2{
    display: flex;
    justify-content: center;
}
.main-2 p{
    color: black;
}

.bridge2{
    width: 1600px;
    height: 700px;
    display: flex;
    
    gap: 20px;
    align-items: center;
}
.main2-logo{
    display: flex;
    align-items: center;
    gap: 10px;
    
}
.left{
    width: 40%;
    background-color: blueviolet;
    height: 60%;
    padding: 10px;
    
}
.right{
    width: 60%;
    height: 60%;
    background: url(./IMAGES/img-3.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
} */

.main-2 p{
    color: black;
    
}
.main-2{
    padding: 150px 0;
    display: flex;
    justify-content: center;
}
.bridge2{
    /* max-width: 1600px;
    width: 100%; */
    /* height: 700px; */
    /* margin: auto; */
    /* margin: 150px 0; */
    display: flex;
    gap: 25px;
}
.left{
    width: 38%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.hello{
    font-size: 50px;
}
.main2-logo{
    display: flex;
    align-items: center;
    gap: 15px;
}
.logos{
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    font-size: 25px;
}
.body{
   
   font-size: 20px;
}
.right{
    width: calc(62% - 25px);
    
}
.right img{
     height: 100%;
     width: 100%;
}






.main-3{
    background-image: linear-gradient(rgba(28, 71, 150, 0.538),rgba(31, 43, 134, 0.473)),url(./IMAGES/img-2.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 0;
    /* height: 100vh; */
    
}

/* .bridge3{
   
    max-width: 1600px;
    width: 100%;
   
    
} */
.digital-market{
    width: 30%;
    
}
.image2{
    padding: 0 auto;
    border-radius: 50%;
    /* background-color: red; */
    /* background-color: linear-gradient(rgba(154, 164, 181, 0.373),rgba(174, 176, 195, 0.562)); */
}
.digital-market img{
    width: 100px;
    
    padding: 15px;
    border-radius: 50%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
    background-color: linear-gradient(rgba(252, 253, 255, 0.177),rgba(217, 219, 226, 0.423));
    
    /* background-color: red; */
}
.para p{
    font-size: 40px;
}

.service{
    
    margin: 100px 0;
}
/* .button-main3 button{
    padding: 18px 45px;
    border-radius: 26px 26px 26px 26px;
    border: 1px solid black;
    background: #d0a904;
    color: white;
} */







.main-grid{
    display: flex;
    justify-content: center;
    padding: 150px 0;
}
.bridge-grid p{
    color: black;
    padding: 30px 0;
}
/* .bridge-grid{
    max-width: 1600px;
    width: 100%;
} */
.menu-grid ul{
   display: flex;
   gap: 30px;
}
.grid-upper h1{
    font-size: 40px;
    font-weight: lighter;
}
.menu-grid ul li{
    list-style: none;
    padding: 20px;
    
}
.menu-grid ul li:hover{
   background-color: palevioletred;
}
.menu-grid ul li a{
    color: black;
    font-weight: 600;
}
.flex{
    display: flex;
    gap: 20px;
}
.flex img{
    width: 100%;
    height: 100%;
}
.fb{
    display: flex;
    flex-direction: column;
    gap: 20px;
    /* flex: auto; */
}
.flex1{
    flex: 2;
}
.flex2{
    flex: 1;
}
.flex6{
    flex: 1;
}
.flex7{
    flex: 2;
}







.main-4{
    background-image: linear-gradient(rgba(28, 71, 150, 0.538),rgba(31, 43, 134, 0.473)),url(./IMAGES/img-4.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    padding: 70px 0;
    /* height: 500px; */
}
.card{
    width: 18%;
}
.card img{
    width: 50%;
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg);
}
.card-ele:hover p{
    color: #d0a904;
}
.card-ele{
    margin: 30px 0;
}

.number{
    font-size: 50px;
}





.main-5{
    /* display: flex;
    justify-content: center; */
    text-align: center;
    padding: 100px 0;
    background-color: #f5f4fa;
}
.main-5 p{
    color: black;
}
/* .bridge4{
    max-width: 1600px;
    width: 100%;

} */
.card5{
    
    padding-top: 80px;
}
.card-ele1{
    width: 31%;
    
    /* flex: 1; */
    padding: 25px 15px;
    /* border: 1px solid black; 
    box-shadow: 5px 5px 5px 5px grey; */
    box-shadow: 0 0 10px 3px grey;
}
    
.middle{
    margin: 80px 0;
}
.lower button{
    /* padding: 18px 45px;
    border-radius: 26px 26px 26px 26px; */
    border: 3px solid black;
    background: whitesmoke;
    color: black;
}
.lower button:hover{
    border: 3px solid white;
    background: #d0a904;
    color: whitesmoke;
    
}







.main-6{
    background-image: linear-gradient(rgba(28, 71, 150, 0.538),rgba(31, 43, 134, 0.473)),url(./IMAGES/img-4.jpg);
    background-repeat: none;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;   
    /* display: flex;
    justify-content: center; */
    text-align: center;
    padding: 200px 0;

}
.main-6 .upper6 h1{
    color: white;
    font-weight: lighter;
    font-size: 40px;
}
.main-6 h1{
    color: white;
}
/* .bridge5{
    max-width: 1600px;
    width: 100%;
} */
.upper6{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.box-6{
    width: 100px;
    height: 50px;
    display: flex;
}
.box-6 box1,box2{
    padding: auto;
}
.box-6 img{
    width: 30%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.box1{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}
.box2{
    width: 100%;
    height: 100%;
    background-color: blueviolet;
}
.box1:hover{
    background-color: yellow;
}
.box2:hover{
    background-color: yellow;
}
.card6{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.card6-ele{
    width: 45%;
}
.middle6 p{
    padding: 25px 0;
}
.image6 img{
    width: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.lower6{
    padding-top: 100px;
}





.main-7{
    /* display: flex;
    justify-content: center; */
    /* text-align: center; */
    padding: 100px 0;
}
/* .bridge6{
    max-width: 1600px;
    width: 100%;
} */
.main-7 p{
    color: black;
}
.blog p{
    padding: 30px 0;
}
.card7{
    display: flex;
    justify-content: space-between;
    padding: 70px 0;
    flex-basis: auto;
    flex-wrap: wrap;
}
.card7_card{
    width: 29%;
    box-shadow: 0 0 10px 4px grey;
    
}
.image7 img{
    width: 100%;
}
.button7 button{
    padding: 18px 45px;
    border-radius: 26px 26px 26px 26px;
    border: 3px solid black;
    background: whitesmoke;
    color: black;
}

.middle7{
    margin: 20px 0;
}
.lower7{
    padding: 30px;
}
.button7 button:hover{
    border: none;
    background: #d0a904;
    color: whitesmoke;
    /* font-size: 15px; */
}








.footer{
    /* display: flex;
    justify-content: center; */
    /* padding: 150px 0; */
    background-color: #383275;
}
.footer h1{
    color: white;
}
/* .bridge7{
    max-width: 1600px;
    width: 100%;
} */
.card8{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 50px 0;
}
.card8-1{
    width: 20%;
}
.about{
    padding-top: 25px;
}
.about li a{
    text-decoration: none;
    color: white;
}
.about li{
    list-style: none;
}
.style-button{
    display: flex;
    height: 77px;
    width: 100%;
    border: none;
}
/* .style-button input{
    padding: 10px 0;
} */
.style-button input{
    /* height: 100%; */
    width: 80%;
    border: none;
    border-radius: 25px 0 0 25px;
    padding: 17px;
}
.search{
    /* height: 100%; */
    width: 20%;
    background-color: #d0a904;
    /* padding: 10px; */
    border-radius: 0 25px 25px 0;
    border: none;
}
.about ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.search img{
    width: 40%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.copyright{
    text-align: center;
    word-spacing: 10px;
    padding: 15px 0;
}





@media screen and (max-width:500px) {
    body{
        font-size: 12px;
    }
    .wrapper-content{
        max-width: 500px;
        padding: 0 20px;
        
    }  
    .card-ele1{
        width: 100%;
        margin: 10px 0;
    }
    .main-2 .left, .main-2 .right{
        width: 100%;
        margin: 15px 0;
    }
    .card7_card{
        width: 100%;
        margin: 10px 0;
    }
    .main-4 .card{
        width: 50%;
    }
     .card8-1{
        width: 50%;
        margin: 25px 0;
     }
     /* .main-grid{
        display: none;
     } */
     .digital-market{
        width: 100%;
     }
    .card6-ele{
        width: 100%;
        margin: 15px 0;
    }



    .main-grid {
        padding: 100px 0;
    }

    /* .bridge-grid h1 {
        font-size: 30px;
    } */

    .menu-grid ul {
        flex-direction: column;
    }

    .menu-grid ul li {
        padding: 10px;
        display: inline-block;
    }

    .flex {
        flex-direction: column;
    }

    .flex img {
        height: auto;
    }

    .fb {
        gap: 10px;
    }
}