@font-face {
    font-family: SpaceGrotesk;
    src: url(./SpaceGrotesk-VariableFont_wght.ttf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,body{
    font-size: 16px;
    font-family: SpaceGrotesk,sans-serif;
}

.wrapper{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.flex-all{
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
}
.flex-gap{
    display: flex;
    gap: 10px;
    align-items: center;
}
.img-container{
    max-width: 27px;
}
.img-container img{
    width: 100%;
}
.img-container1{
    max-width: 70px;
}
.img-container1 img{
    width: 100%;
}
.location{
    padding: 15px;
}
.location:nth-child(1){
    border: 1px solid #fff;
    border-top: none;
    border-left: none;
    border-bottom: none;
    padding-left: 0;
}
.header1{
    background-color: #032a31;
}
.header1 p{
    color: #fff;
}
.social-icons{
    padding: 15px;
}
.social-icons:nth-child(-n+3){
    border: 1px solid #fff;
    border-top: none;
    border-left: none;
    border-bottom: none;
}




.header2{
    padding: 15px 0;
}
.calling{
    padding: 0 15px;
}
.header2-left p{
    font-size: 30px;
}
.right-contain p:nth-child(2){
    font-weight: 700;
}



.header3{
    background-color: #813d16;
    padding: 15px 0;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}
nav ul li{
    list-style: none;
   
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
}
nav ul li a:hover{
    text-decoration: underline;
}
.search{
    background-color: #996445;
    padding: 10px;
}
.search input{
    background: transparent;
    border: none;
    width: 80%;
    /* padding-right: 25px; */
}
.search input:focus{
    outline: none;
}
.search input::placeholder{
    color: #fff;
}





.section-1{
    background-image: linear-gradient(rgba(17, 17, 17, 0.655),rgba(20, 20, 21, 0.682)),url(./Images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px 0;
    /* object-fit: cover; */
}
.section-1 p,h1{
    color: #fff;
    font-size: 25px;
}
.img-container4 img{
    border-radius: 50%;
    background-color: #b25017;
    padding: 15px;
}
.content{
    width: 60%;
}
.content h1{
    font-size: 55px;
}
.content p{
    padding: 30px 0;
}
.primary-button button{
    padding: 15px 20px;
    border: 1px solid #000;
    color: #b25017;
    font-size: 15px;
    cursor: pointer;
}
.primary-button button:hover{
    background-color: #b25017;
    color: #fff;
    border-color: #b25017;
}




footer{
    background-color: #032a31;
    padding: 15px 0;
}
footer p{
    color: #fff;
}
.flex{
    display: flex;
}
.foot{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    width: 16%;
    padding: 25px;
}
.foot:nth-child(-n+5){
    border: 1px solid #fff;
    
    border-top: none;
    border-left: none;
    border-bottom: none;
}

@media screen and (max-width:500px) {
    .wrapper{
        max-width: 500px;
        padding: 0 20px;
    }
    .media100{
        width: 100%;
        margin: 15px 0;
    }
    .media50{
        width: 50%;
        margin: 15px 0;
    }
    .location{
        padding-left: 0;
    }
    /* .section1-wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    } */
}
